<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<p>CHOOSE SPELL PAGE</p>
<form method="post">
    {% csrf_token %}
    <output name="error_message" id="error_message">{{error_message}}</output>
    <p><a href="/heroes/castle">CASTLE</a></p>
    <p>MAGIC SKILLS :</p>

    {% if not skills %}
        You havent magic skills
    {% endif %}
    {% for skill in skills %}
        {% for k, v in skill.items %}
            <p>{{ k }} {{ v }}</p>
        {% endfor %}
    {% endfor %}
    <p>SPELL POWER : {{ spell_power }}</p>
    <p>SPECIAL : {{ special }}</p>
    <p>MP LEFT : MAKE ME</p>
    {% for spell in spells %}
        <p>''''''''''''''''''''''''''''''''''''''''''''''</p>
            <p>''''''''''''''''''''''''''''''''''''''''''''''</p>
            <p>NAME :</p>
            <output name="{{ spell.name }}" id="{{ spell.name }}">{{ spell.name }}</output>
            <p>EFFECT :</p>
            <output name="{{ spell.name }}_effect" id="{{ spell.name }}_effect">{{ spell.effect }}</output>
            <p>CELLS :</p>
            <output name="{{ spell.name }}_cells" id="{{ spell.name }}_cells">{{ spell.cells }}</output>
            <p>DAMAGE TYPE :</p>
            <output name="{{ spell.name }}_damage_type" id="{{ spell.name }}_damage_type">{{ spell.damage_type }}</output>
            <p>DAMAGE :</p>
            <output name="{{ spell.name }}_damage" id="{{ spell.name }}_damage">{{ spell.damage }}</output>
            <p>LEVEL :</p>
            <output name="{{ spell.name }}_level" id="{{ spell.name }}_level">{{ spell.level }}</output>
            <p>DESCRIPTION :</p>
            <output name="{{ spell.name }}_description" id="{{ spell.name }}_description">{{ spell.description }}</output>
            <p>COST :</p>
            <output name="{{ spell.name }}_cost" id="{{ spell.name }}_cost">{{ spell.cost }}</output>
            <button type="button" onclick="castSpell('{{ spell.name }}');">CAST IT</button>
    {% endfor %}
</form>
<script>
    var castSpell = function(choosen_spell_name) {
        var str = "#"
        var res = str.concat(choosen_spell_name, "_")

        var effect = $(res.concat("effect")).val()
        var damage_type = $(res.concat("damage_type")).val()
        var damage = $(res.concat("damage")).val()
        var cells = $(res.concat("cells")).val()
        var level = $(res.concat("level")).val()
        var cost = $(res.concat("cost")).val()

        var data = {
            choosen_spell_name:choosen_spell_name,
            effect:effect,
            damage_type:damage_type,
            damage:damage,
            cells:cells,
            level:level,
            cost:cost,
        };

        $.ajax
        ({
            type     : "POST",
            url      : "battle",
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url;
                    if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
